:root {
    --maincolor: red;

}
.logo1{
   
    display: flex;
    float:left
}


.logo {
    width: 130px;
    padding: .5em 10;
    
    
}
.header{
    display:flex;
    background-color: pink;
    margin:auto;
    justify-content: space-around
    ;
    
}

.Navbar {
    background-color: var(--maincolor);
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    
}

